<ion-view hide-back-button="true" view-title=" ">
        <ion-content class="padding-top">
          <div class="list text-center putnik" style="margin-bottom:10px !important">
            <div class="logo"></div>
            <h3>Найди друзей</h3>
          </div>

                  <h3>Products</h3>
        <button ng-show="!products" ng-click="loadProducts()" class="button button-block button-balanced">
          <i class="ion-arrow-down-c"></i> Load Products
        </button>
        <button ng-repeat="product in products" ng-click="buy(product.productId)" class="button button-block button-positive">
          {{product.title}} - {{product.price}}
        </button>
        <h3>Restore Purchases</h3>
        <button ng-click="restore()" class="button button-block button-balanced">
          <i class="ion-refresh"></i> Restore
        </button>


          
          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)">
          <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
              <span class="input-label" >Номер телефона</span>
              <input name="txtemail" type="number" ng-model="user.email" placeholder="Номер телефона"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
              <div class="form-error" ng-message="required">Вы забыли заполнить</div>
              <div class="form-error" ng-message="email">This field is must be an email.</div>
              <div class="form-error" ng-message="minlength">Минимум 5 символов</div>
              <div class="form-error" ng-message="maxlength">Нужно менее 20 символов</div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
              <span class="input-label">Пароль</span>
              <input name="txtPassword" type="password" ng-model="user.password" placeholder="Пароль"
              ng-minlength="5"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">Вы забыли заполнить</div>
            <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
            <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
            </div>
          </div>
          <div class="padding-top">
            <input type="submit" class="button button-block button-royal" style="width:50%; margin:0 auto" value="Войти">
             
             <i ng-click="openPopover($event)" style="position:absolute; z-index:99999; font-size:60px; bottom:47px; left:10px" ng-class="isPop ? 'icon ion-ios-help royal' : 'icon ion-ios-help-outline royal'"></i>

            <p class="text-center padding-top">
                <a href="#/register" class="button button-clear button-royal">Регистрация</a>
          </div>
        </form>
        </ion-content>
</ion-view>
