<ion-view view-title=" ">
  <ion-content class="padding-top">
    <div class="text-center padding-top">
      <i class="icon ion-android-person-add larger royal"></i>
    </div>
    <form name="registerForm" novalidate ng-submit="register(user)"
    ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
    


    <div class="list">

        

        
        <div class="" >
                <label class="item item-input item-floating-label">
                <span class="input-label">Ваше имя</span>
              <input type="text" name="username" ng-model="user.name" placeholder="Ваше имя"
              required>
              </label>

              <label class="item item-input item-floating-label">
                <span class="input-label">Номер телефона</span>
              <input type="number" ng-model="user.email" placeholder="Номер телефона"
              ng-minlength="5"
              ng-maxlength="30"
              required>
              </label>

            <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
              <div class="form-error" ng-message="email">Это поле некорректно заполнено</div>
              <div class="form-error" ng-message="maxlength">Превышена максимальная длина</div>
            </div>
              <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
              <span class="input-label">Пароль</span>
              <input name="txtpassword" type="password" ng-model="user.password" placeholder="Пароль"
              ng-minlength="4"
              ng-maxlength="25"
              required>
            </label>
        </div>


      <div class="list">
        <div ng-show="user.mode == 'Водитель такси'">
          <label class="item item-input item-floating-label">
          <span class="input-label">Марка автомобиля: </span>
          <input name="txtemail" type="text" ng-model="user.carmodel" placeholder="Марка автомобиля:"
         
          required>
          </label>

          <label class="item item-input item-floating-label">
          <span class="input-label">Гос.номер </span>
          <input name="txtemail" type="text" ng-model="user.carnumber" placeholder="Гос.номер"
         
          required>
          </label>
        </div>
        <div ng-show="user.mode == 'Водитель автобуса'">
          <label class="item item-input item-floating-label">
          <span class="input-label">Номер маршрута: </span>
          <input type="number" ng-model="user.busnumber" placeholder="Номер маршрута"
          ng-maxlength="3"
          required>
          </label>
        </div>
      </div>
      <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">Это поле является обязательным</div>
        <div class="form-error" ng-message="minlength">Слишком мало символов</div>
        <div class="form-error" ng-message="maxlength">Слишком много символов</div>
        <div class="form-error" ng-message="pattern">Debe ingresar solo caracteres letras y numeros.</div>
      </div>
    </div>
    <div class="padding-top">
      <input type="submit" value="Зарегистрироваться" style="width:80%; margin:0 auto" class="button button-block button-royal"/>
    </div>
  </form>
  </ion-content>
</ion-view>
