<ion-view view-title="Home" hide-back-button="true">
        <ion-content class="padding-top">
          <h1>Авторизован</h1>
          <button ng-click="logOut()" class="button button-clear button-positive">Logout</button>
        </ion-content>
</ion-view>
