<ion-view view-title="Мои соединения" cache-view="false">

<ion-nav-buttons side="left">
    
      
</ion-nav-buttons>


  <ion-content scroll="true" >
   
		<ion-list ng-show="isSearch" style="position:absolute; z-index:9999; top:0; width:100%">
		  <ion-item ng-click="sendReq(myUsers.phone, myUsers.name, myUsers.key)">
		    <i class="icon ion-ios-telephone"> {{item.phone}}</i>
		    <i class="text-right"> {{item.name}}</i>
		  </ion-item>
    	</ion-list>

  <ion-list >
	  <ion-item ng-repeat="connect in conns">
	    {{connect.name}} {{connect.phone}}
	    
		<button  ng-click="removePerson(connect.key, connect.id)" class="text-right margin-left button button-small button-assertive">
			Удалить
		</button>

		<button ng-if="connect.connected == true && !added"  ng-click="addPerson(connect.phone, connect.name, connect.id, connect.l[0], connect.l[1], connect.key)" class="text-right margin-left button button-small button-balanced">
			Добавить
		</button>
	  </ion-item>
  </ion-list>

  <div class="backcl">
  	<a class="button button-royal backb" ng-click="clicked()" href="#/tab/account">
		На карту
	</a>
  </div>

<div style="text-align:center; position:relative; top:80px; ">
	              <img ng-src="http://i64.tinypic.com/htsqrl.jpg" style="width:150px; height:150px">

</div>

  <i ng-click="openPopover($event)" style="position:absolute; z-index:99999; font-size:60px; bottom:0px; left:10px" ng-class="isPop ? 'icon ion-ios-help royal' : 'icon ion-ios-help-outline royal'">
      
    </i>



  </ion-content>
</ion-view>
