

<ion-view  view-title="Профиль">
	<ion-nav-buttons side="right">
  
    </ion-nav-buttons>

  <ion-content>
            <div class="info">
              <img ng-src="http://i64.tinypic.com/htsqrl.jpg" style="width:150px; height:150px">
              <h2>{{user.name}}</h2>
              <div class="profile-info">
                <h3 class="info-text">Телефон: </h3><p style="font-size:16px">{{phone[0]}}</p>
                <h3 class="info-text" ng-show="isTaxi">Модель машины: </h3><p style="font-size:16px">{{user.carmodel}}</p>
                <h3 class="info-text" ng-show="isTaxi">Номер машины: </h3><p style="font-size:16px">{{user.carnumber}}</p>
                <h3 class="info-text" ng-show="isBus">Номер маршрута: </h3><p style="font-size:16px">{{user.busnumber}}</p>
              </div>
            </div>

            <div class="logoff">

               <a ng-click="backTo()" style="width:60%;" class="button icon-left button-royal icon ion-map">Вернуться на карту</a><br>
              <button ng-click="deleteAcc()" style="margin-top:5px; width:60%;" class="button icon-left ion-trash-a button-royal">Удалить регистрацию</button><br>
              <button style="margin-top:5px; width:60%;" ng-click="logOut()" class="button icon-left ion-power button-royal">Выйти</button>

              

            </div>



            <i ng-click="openPopover($event)" style="position:absolute; z-index:99999; bottom:50px; font-size:60px; left:10px" ng-class="isPop ? 'icon ion-ios-help royal' : 'icon ion-ios-help-outline royal'">
      
    </i>
              
  </ion-content>
</ion-view>
