<ion-view view-title="Исходящие соединения">

<ion-nav-buttons side="left">
    <div ng-controller="AccountCtrl">
	    <a ng-click="showFilterBar()" class="button icon-left button-royal ion-ios-search">
	    </a>
  	</div>
</ion-nav-buttons>

 <ion-list class="index" ng-controller="AccountCtrl" ng-show="res" style="position:absolute; z-index:9999; width:100%; padding-top:40px !important">
	<ion-item ng-controller="AccountCtrl" ng-click="sendReq(res.phone, res.name, res.key)">
		<i class="icon ion-android-alarm-clock"> {{res.phone}}</i>
		<i class="text-right"> {{res.name}}</i>
	</ion-item>
</ion-list>


  <ion-content scroll="true" >
   

  <ion-list >
	  <ion-item ng-repeat="req in reqs">
	    {{req.name}} {{req.phone}}
	    <button ng-click="cancelReq(req.key, $index)" class="text-right margin-left button button-small button-assertive">
			Удалить
		</button>
		<button ng-click="request(null, req.key, $index)" ng-class="reqState[req.key] == 'Запросить' ? 'text-right margin-left button button-small button-balanced' : 'text-right margin-left button button-small button-royal'">
			{{reqState[req.key]}}
		</button>
	  </ion-item>
  </ion-list>

  <div class="backcl" ng-controller="AccountCtrl">
  	<a class="button button-royal backb" ng-click="clicked()" ng-href="#/tab/account">
		{{changeState}}
	</a>
  </div>
 
<div style="text-align:center; position:relative; top:80px; ">
	              <img ng-src="http://i64.tinypic.com/htsqrl.jpg" style="width:150px; height:150px">

</div>

 
 <i ng-click="openPopover($event)" style="position:absolute; z-index:99999; font-size:60px; bottom:0px; left:10px" ng-class="isPop ? 'icon ion-ios-help royal' : 'icon ion-ios-help-outline royal'">
      
    </i>


  </ion-content>
</ion-view>
