<ion-view cache-view="true" title="">
  <ion-nav-buttons side="left">
      <a class="button icon ion-person" ng-href="#/profile/111">
        Профиль
      </a>
   
    </ion-nav-buttons>

  <ion-content scroll="false">
      <leaflet id="map" controls="map.controls" data-tap-disabled="true" lf-center="map.san_fran" tiles="map.tiles" markers="map.markers" ng-if="map">
          <div class='control'>
            <button class="button button-small button-outline button-positive" ng-click="satMap()">
  Cпутник
</button>
      <button class="button button-small button-outline button-positive" ng-click="baseMap()">
  Карта
</button>
          </div>
      </leaflet>



<i ng-click="openPopover($event)" style="position:absolute; z-index:99999; font-size:60px; bottom:3px; left:10px" ng-class="isPop ? 'icon ion-ios-help positive' : 'icon ion-ios-help-outline positive'">
      
    </i>

<div class="btn-center" ng-show="isMan">
  <button ng-click="wannaTaxi()" ng-class="wanted ? 'button button-outline button-assertive handle-button' : 'button button-outline button-positive handle-button'">
  {{title}}
  </button>
</div>

      <div class="btn-center" ng-show="isTaxi">
        <button ng-click="toggleShare()"  ng-class="shareState ? 'button button-outline button-positive handle-button' : 'button button-outline button-assertive handle-button'">
        {{shareText}}
        </button>
      </div>

  </ion-content>
</ion-view>
