<ion-view cache-view="false" title="">

<ion-nav-buttons side="left">
    <a class="button icon ion-person" ng-href="#/profile/111">
      Профиль
    </a>
</ion-nav-buttons>
    
    <ion-list ng-show="isSearch" style="position:absolute; z-index:9999;  width:100%; padding-top:98px !important">
      <ion-item ng-if="res" ng-click="sendReq(res.phone, res.name, res.key)">
        <i class="icon ion-android-alarm-clock"> {{res.phone}}</i>
        <i class="text-right"> {{res.name}}</i>
      </ion-item>
    </ion-list>


  <ion-content scroll="false">
   

  <!-- <div id="map">
  </div> -->
   <leaflet id="map" tiles="map.tiles" controls="map.controls" data-tap-disabled="true" lf-center="map.san_fran" markers="map.markers" >

    <div class='control'>
      <button class="button button-small button-outline button-royal" ng-click="satMap()">
        Cпутник
      </button>
            <button class="button button-small button-outline button-royal" ng-click="baseMap()">
        Карта
      </button>
    </div>



<div class="control-tabs">

  <div class="requests" ng-controller="ReqsCtrl">
    <a ng-href="#/requests/" id="reqs" ng-class="outside ? 'button icon ion-android-search button-outline button-assertive button-small sear' : 'button icon ion-android-search button-outline button-royal button-small sear'">
    </a>
  </div>

  <div class="connects" ng-controller="ConnsCtrl">
    <a ng-href="#/connections/" id="conns" ng-class="isConn ? 'button icon ion-android-hand button-outline button-assertive button-small sear' : 'button icon ion-android-hand button-outline button-royal button-small sear'">
    </a>
  </div>
</div>
    

   </leaflet>

	

    <i ng-click="openPopover($event)" style="position:absolute; z-index:99999; font-size:60px; bottom:3px; left:10px" ng-class="isPop ? 'icon ion-ios-help royal' : 'icon ion-ios-help-outline royal'">
      
    </i>


    <div ng-if="items !== undefined && !items.length" class="no-results">
      <p>Нет пользователей</p>
    </div>

  </ion-content>

</ion-view>
