<ion-view  cache-view="false" title="">




	<ion-nav-buttons side="left">
    <a class="button icon ion-person" ng-click="goProfile()" ng-href="#/profile/111">
      Профиль
    </a>
	<!-- <div class="logoff">
              <button ng-click="logOut()" class="button icon-left ion-power button-positive">Выйти</button>
            </div> -->
      
    </ion-nav-buttons>




      
  <ion-content scroll="false">



  <leaflet data-tap-disabled="true" controls="map.controls" layers="map.layers" lf-center="map.san_fran" tiles="map.tiles" markers="map.markers" ng-if="map">

<div class='control'>
  <button class="button button-small button-outline button-positive" ng-click="satMap()">
    Cпутник
  </button>
        <button class="button button-small button-outline button-positive" ng-click="baseMap()">
    Карта
  </button>
</div>

<div class="choosebus" ng-show="isMan">
  <button  ng-click="routes()" class="button icon ion-android-bus button-outline button-positive button-small">
  </button>

</div>


<div ng-class="vis ? 'routes-vis' : 'routes-unvis'">

  <ul class="list">
      <li class="item item-bus" ng-repeat="bus in buses" ng-click="toggleLayer(bus.busnumber)">
        <i class="ion-android-bus">  {{bus.busnumber}}</i>
      </li>
      <li ng-if="!isBuses" class="item item-bus">
        Пусто
      </li>
  </ul>

</div>


  </leaflet>
<i ng-click="openPopover($event)" style="position:absolute; z-index:99999; font-size:60px; bottom:3px; left:10px" ng-class="isPop ? 'icon ion-ios-help positive' : 'icon ion-ios-help-outline positive'">
      
    </i>


<div class="btn-center" ng-show="isBus" style="bottom: 38px">
  <button ng-click="toggleShare()"  ng-class="shareState ? 'button button-outline button-balanced handle-button' : 'button button-outline button-assertive handle-button'">
  {{shareText}}

  </button>
  {{busnum}}
</div>




      

  </ion-content>
</ion-view>
