<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->



<ion-tabs class="tabs-icon-top tabs-color-active-light" ng-controller="tabs">


  <!-- Account Tab -->
  <ion-tab title="Мой гид" ng-if="isMan"  icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
