/* Empty. Add your own CSS if you like */

.larger {
    font-size: 120px;
}

.button:empty{
    border: none !important;
}

#subscriber-info {
    margin: 10px 0;
    font-weight: bold;
}

#non-consumable-hosted-content-download,
#non-consumable-non-hosted-content-download{
    padding: 5px 20px;
}

#in-app-purchase-list div, .section{
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
#in-app-purchase-list div:empty, .section:empty{
    border: none !important;
}




::-webkit-input-placeholder {color:black !important;}
::-moz-placeholder          {color:black !important;}
:-moz-placeholder           {color:black !important;}
:-ms-input-placeholder      {color:black !important;}

.logo{
    background: url(../img/logo.png);
    background-size: 170px 170px;
    margin: 0 auto;
    width: 170px;
    height: 170px;
}


.leaflet-popup-content-wrapper{
  min-width: 140px;
}

.leaflet-left .leaflet-control{
  height: 32px !important;
}

.leaflet-bar a, .leaflet-bar a:hover{
  background-color: transparent !important;
}

.leaflet-bar{
      border-radius: 4px;
    border: 1px solid #387EF5 !important;
    box-shadow: none !important;
}

.fa{
    font-size: 20px !important;
    color: #387EF5;
    vertical-align: middle;
}

.input-label{
  color: 000;
}

.fancy-select .list {
  margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }
  /* line 19, ../scss/modules/_fancy-select.scss */
  .fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;
  width: 30px;
  text-align: center; }


.putnik {

}

.leaflet-control-layers-toggle{
  display: none !important;
}


.putnik h3{

}

.backcl{
  text-align: center;
}

.routes-unvis{
      position: absolute;
    width: 6em;
    background-color: white;
    z-index: 9999;
    right: 0;
    bottom: 5em;
    top: 5em;
    display: none;

}

.item-bus{
      border-color: #387EF5;
    background-color: transparent;
    color: #387EF5;
    position: relative;
    z-index: 2;
    display: block;
    margin: none !important;
    margin-right: 8px;
    padding: 16px;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    font-size: 16px;
}


.routes-vis{
        position: absolute;
    background-color: transparent;
    z-index: 9999;
    right: 0;
    bottom: 5em;
    top: 8em;
}


.backb{
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    top: 2em;
    width: 100px;
    text-align: center;
}

.choosebus{
        position: absolute;
    z-index: 9999999;
    top: 55px;
    right: 16px;
}

.my-loc-marker{
  background-color: red;
  position: absolute;
  width: 25px;
  height: 41px;

}


.scroll-content{
  background-size: cover;
  height: auto;
}

.pane{
    background: url(../img/mainbg.jpg);
    background-size: cover;
}

.control{
        position: absolute;
    z-index: 999;
    top: 1em;
    right: -2px;
    width: 119px;
}

.connects{
    position: absolute;
    z-index: 999;
    top: 140px;
    left: 10px;
}

.requests{
   position: absolute;
    z-index: 999;
    top: 105px;
    left: 10px;
}

.control-tabs{
  position: absolute;
  top: 5em;
}

.sear{
    width: 32.5px !important;
    height: 32px;
    padding-top: 4px;
}

.search{
    position: absolute;
    z-index: 999;
    top: 70px;
    left: 10px;
}

.bar.bar-positive{
  border: none !important;
}

.ion-tabs.tabs-color-active-light .tab-item{
  color: #000 !important;
}

.tabs{
  background-color: #387ef5 !important;
  background-image: none !important;
  border: none !important;
  border-style: none !important;
}


.leaflet-routing-container{
  display: none;
}

.leaflet-control-zoom{
    position: absolute;
    top: 300px;
    border: none !important;
}

.leaflet-left .leaflet-control{
  position: absolute;
}


.leaflet-control-zoom-in{
  border: 1px solid #387EF5 !important;
  color: #387EF5 !important;
  width: 32px !important;
}

.leaflet-control-zoom-out{
  border: 1px solid #387EF5 !important;
  border-top: none !important;
  color: #387EF5 !important;
  width: 32px !important;
}

.popover-my{
      margin: 0 auto;
    text-align: center;
    left: 0 !important;
    top: 20em !important;
    right: 0;
    margin-left: auto !important;
}

.text-right{
  text-align: right;
  float: right;
}

.margin-left{
  margin-left:10px;
}

.popover{
  height: 100px !important;
}

.text-center{
  text-align: center;
}

.search-user{
    position: absolute;
    top: 2em;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 250px;
}

.info{
  margin-top:2em;
  text-align: center;

}

.profile-info{
  text-align: left;
  padding: 15px;
}

.info-text{
  font-weight: bold;
}

.logoff{
  text-align: center;
  margin-top: 100px;
}

.bold-popup{
  font-weight: bold;
}

.button-call{
      border-color: #0c60ee;
    background-color: #387ef5;
    color: #fff;
    position: relative !important;
    left: 0;
    margin-top: 10px;
    right: 0;
    width: 100px;
}

.choose-bus{
      width: 280px;
    margin: 0 auto;
    color: white !important;
}


.bus-list{
    z-index: 9999999;
    position: absolute;
    bottom: 1em;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    width: 280px;
}


.choose-bus select{
  background: #387EF5 !important;
  color: white !important;
}

.choose-bus label{
  background: #387EF5 !important;
  color: white !important;
}

.handle-button{
      position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10em;
}

.btn-center{
      position: absolute;
    bottom: 57px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}


.angular-leaflet-map{
  width: 100%;
  height: 100%;
}

/* Empty. Add your own CSS if you like */
#map{
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
}


/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}
